<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Faça parte do nossa família!</h1>
        
        <p>
            Envie seu currículo, ficaremos felizes em te conhecer.  &#128515;&#128077;
        </p>
        <br>
        <!-- imagem do corpo docente -->
        <<img src="src" alt="docentes"/>       
        <br>
        <div>
            <p>Aceitamos arquivos apenas em formatos PDF</p>
            <input type="file" accept=".pdf">
        </div>
        <br>
        <input type="button" value="enviar" onclick="window.location='URL_Aceito';" title="Enviar" />
        
    </body>
</html>
