<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Escola Online</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/index.css"/>
    </head>
    <body>
        
        <header class="cabecalhoPagina">
            <div class="logo" >
                <img src="../imagens/desenho.png" alt="logo"/>
            </div>
        </header>
        
        <section>
            
            
            
        </section>
 
    </body>
</html>
